development:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV["DSEL_DB"] %>
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: dsel_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV["DSEL_DB"] %>
  pool: 5
  username: <%= ENV["DSEL_DB_USER"] %>
  password: <%= ENV["DSEL_DB_PASSWORD"] %>
